header {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 100%;
  padding: 0 5%;
  background-color: var(--bg-color);
  box-shadow: 4px 6px 12px rgb(212, 206, 206);
  display: flex;
  gap: 3rem;
  align-items: center;
  z-index: 10;
}

.logo img {
  width: 10rem;
  height: 100%;
  padding: 1rem 0;
}

.menu {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 1rem 0;
}

.link {
  list-style: none;
  position: relative;
}

.link a {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}

.link a:hover {
  color: var(--color-dark-orange);
  cursor: pointer;
}

.link a b {
  display: inline-block;
  padding: 0 0.3rem;
  font-size: 0.8rem;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
  transform: translateY(-2px);
}

.link a:hover b {
  transform: rotate(90deg);
}

.link a.active {
  color: rgb(192, 53, 55);
}

.link:hover .submenu {
  /* display: block; */
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.submenu {
  position: absolute;
  left: 0;
  top: calc(100% + 2rem);
  min-width: calc(100% + 10rem);
  background-color: var(--bg-color);
  border-top: 2px solid skyblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100px);
  transition: all 0.5s ease-in-out;
  transition-behavior: allow-discrete;
  z-index: 10;
}

.submenu.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.submenu li:hover .nested-submenu {
  display: block;
}

.sublink {
  position: relative;
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
}

.submenu a {
  font-weight: 600;
}

.submenu a:hover {
  color: var(--color-dark-orange);
}

.nested-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 200px;
  background-color: var(--main-color);
  border-top: 2px solid skyblue;
  display: none;
  /* z-index: 1; */
}

.nested-sublink {
  position: relative;
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
}

/*    MEDIA QUERY */

@media (max-width: 1024px) {
  header {
    padding: 0 2%;

    /* gap: 1rem; */
  }
}

/* General header styles for mobile */
@media (max-width: 768px) {
  header {
    padding: 0 4%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .logo img {
    width: 8rem;
  }

  .navbar {
    position: relative;
    width: 100%;
    left: 0;
    display: none;
    /* Initially hidden, toggled with active */
  }

  .menu {
    display: none;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    background-color: var(--bg-color);
  }

  .menu.active {
    display: block;
  }

  .link {
    width: 100%;
    border-top: 1px solid rgba(191, 184, 184, 0.438);
  }

  .link a {
    padding: 0.3rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link a b {
    transform: rotate(0deg);
    font-size: 12px;
  }

  .submenu {
    position: relative;
    width: 100%;
    padding: 0;
    display: none;
    /* Initially hidden */
    background-color: var(--bg-color);
    opacity: 1;
    pointer-events: auto;
  }
  .submenu.active {
    display: block;

  }

  .link.active .submenu {
    display: block;
    /* Show submenu when active */
  }

  .sublink {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .submenu .sublink a {
    font-size: medium;
  }

  .nested-submenu {
    position: relative;
    width: 100%;
    display: none;
    /* Initially hidden */
  }

  .sublink.active .nested-submenu {
    display: block;
    /* Show nested submenu when active */
  }

  .nested-sublink {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
  }

  /* Toggle button for mobile menu */
  .togglemenu {
    position: absolute;
    right: 1rem;
    top: 2.3rem;
    width: 40px;
    height: 4px;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .togglemenu::before,
  .togglemenu::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    transition: all 0.3s ease;
  }

  .togglemenu::before {
    top: -10px;
  }

  .togglemenu::after {
    top: 10px;
  }

  .togglemenu.active {
    top: 1.5rem;
    /* display: none; */
    background-color: transparent;
  }

  .togglemenu.active::before {
    transform: rotate(45deg);
    top: 1rem;
  }

  .togglemenu.active::after {
    transform: rotate(-45deg);
    top: 1rem;
  }

  .navbar.active {
    display: block;
  }
}