.slider-container {
    position: relative;
    max-width: 100%;
    min-height: 100%;
    padding: 2rem 6%;
    background-color: var(--main-color);

}

.slider-container h2 {
    font-size: 2rem;
    color: white;
}

.slick-slide {
    /* overflow: hidden; */
    padding: 5rem 10px;
}

.testimonial-card {
    width: 300px;
    padding: 1.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: white;
    border-radius: 10px;
    position: relative;
}

.testimonial-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.testimonial-text {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555;
}

.testimonial-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

@media screen and (max-width: 768px) {
    .slider-container {
        padding: 2rem 10%;
        min-height: 100%;
    }

    .slick-slide {
        padding: 5rem 5px;
    }

    .testimonial-card {
        width: 100%;
    }

    .slick-dots {
        display: none !important;
    }

}