.testimonial-slider-container {
    overflow: hidden;
    min-width: 100%;
    margin: auto;
    position: relative;
    padding: 2rem 0;
    background-color: #f7f7f7;
}

.testimonial-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    padding: 2rem 1rem;
    text-align: center;
    box-sizing: border-box;
}

.testimonial-card {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 2rem;
    border: 5px solid white;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.2), inset -10px -10px 10px rgba(255, 255, 255, 0.1), inset 15px 15px 15px rgba(0, 0, 0, 0.2);
    /* box-shadow:  0 4px 15px rgba(0, 0, 0, 0.1), inset 0 -6px -10px rgba(0, 0, 0, 0.2); */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}


.testimonial-card-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonial-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid #f7f7f7;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1), 0 4px 15px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.testimonial-text {
    font-size: 1.1rem;
    color: #333;
    margin: 1.5rem 0;
    line-height: 1.6;
    position: relative;
}

.testimonial-text::before {
    content: '“';
    font-size: 3rem;
    color: #888;
    position: absolute;
    top: -20px;
    left: -15px;
}

.testimonial-text::after {
    content: '”';
    font-size: 3rem;
    color: #888;
    position: absolute;
    right: -15px;
    bottom: -20px;
}

.testimonial-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot:hover {
    background-color: #717171;
}

.dot.active {
    background-color: #717171;
}

@media (min-width: 768px) {
    .slide {
        min-width: 50%;
    }
}

@media (max-width: 767px) {
    .testimonial-slider-container {
        padding: 2rem 1%;
    }

    .slide {
        min-width: 100%;
    }

    .testimonial-card {
        width: 100%;
    }

    .testimonial-card-sub {
        gap: 1rem;
    }
}