
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
    flex-wrap: wrap;
  }
  
 
  .social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  
  .social-link i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    transition: transform 0.3s;
  }
  
  
  .social-link:hover i {
    transform: scale(1.2); 
  }
  
  /* Responsive Styling */
  
  /* For Medium Devices (tablets) */
  @media screen and (max-width: 768px) {
    .social-links {
      gap: 1.5rem;
    }
  
    .social-link i {
      font-size: 1.3rem;
    }
  
    .social-link {
      font-size: 1rem;
    }
  }
  

  @media screen and (max-width: 480px) {
    .social-links {
      flex-direction: row;
      gap: 1rem; 
    }
  
    .social-link {
      font-size: 0.9rem;
    }
  
    .social-link i {
      font-size: 1.2rem; 
    }
  }
  