.work {
    width: 50%;
    margin: auto;
    /* text-align: center; */
    padding: 2rem;
}

.work h1 {
        line-height: 2.5rem;
        letter-spacing: 0.1rem;
        
}
.skill img {
    width: 20rem;
    height: 15rem;
    margin-bottom: 10px;
}

.skill h2 {
    padding: 1rem ;
}

@media (max-width:720px){
    .work{
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
    /* .work h1{
        font-size: 1.6rem;
    } */
}