.footer {
    display: flex;
    justify-content: space-between;
    padding: 5rem 5% 1rem;
    gap: 1rem;

}

.footer .logo {
    display: flex;
    flex-direction: column;
    color: var(--main-color);
}

.footer .logo img {
    width: 15rem;

}

.footer h2 {
    font-size: 1.4rem;
    padding-top: 1rem;
    font-weight: 600;
}

.footer .social-links {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.footer .social-links a {
    background-color: transparent;
}

.footer .social-links i {
    font-size: 3rem;
    padding: .5rem 0;
    border-radius: .5rem;
}

.copyright {
    text-align: center;
    padding: 1rem 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.footer-links h2 {
    font-size: 1.8rem;
    font-weight:600;

}

.footer-link {
    display: block;
    padding-left: 0.4rem;
    font-size: 1.2rem;
    padding-bottom: .5rem;
    color: var(--text-color);
}

.footer-link:hover {
    color: var(--main-color);
}

.footer-contact .contact-details span {
    background-color: transparent;
    outline: none;
    width: 3.5rem;
    text-align: left;
}

.footer-contact h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

.footer-contact .contact-details {
    gap: 0;
    padding: 0;

}


@media (max-width:768px) {
    .footer {
        flex-direction: column;
        padding: 1rem 4%;
        width: 100%;
        gap: 0;
    }

    .logo h2 {
        width: 100%;
        padding: 1rem 1%;
    }

    .logo {
        padding: 0;

    }

    .logo p {
        width: 90vw;
    }

    .footer-contact h2{
        padding-bottom: 1rem;
    }
}