.gradient-text {
    background: linear-gradient(to right, var(--main-color), rgb(3, 249, 3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem 3%;
}



.card h3 {
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.card p {
    font-size: 1.3rem;
}

.card-icon i {
    font-size: 4rem;
    color: var(--main-color);
    padding: 1rem 0 2rem;
}

.choose-us {
    position: relative;
    background-color: var(--bg-color);
    padding: 5rem 5% 0;
}

.choose-us::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.5);
    top: 0;
    left: 0;
    z-index: -1;
}

.choose-us-section {
    background: transparent;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 2rem;
}

.choose-us-section img {
    width: 100%;

}

.choose-us .card {
    width: 100%;
    color: black;
    height: auto;
    border-radius: .5rem;
    padding: 1rem;
    border: none;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    box-shadow: none;

}


.choose-us .card h3 {
    font-size: 1.1rem;
    text-align: left;
    font-weight: 500;
    padding: 0;
    margin: 0;
    
}

.choose-us .card p {
    font-size: .8rem;
    text-align: left;
    padding: 0;
    margin: 0;
}

.choose-us .card-icon {
    
    padding: 6px 0;
    
}

.choose-us .card-icon i {
    font-size: 2rem;
    padding: 0;
    color: var(--primary-color);
}

/* Services */

.service {
    padding: 2rem 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    background-color: var(--fade-color);
}

.service h2 {
    font-size: 2rem;
    color: var(--bg-color);
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.service-card {
    background-color: var(--bg-color);
    width: 100%;
    height: 20rem;
    text-align: center;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-bottom: 2rem;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.service-img {
    width: 15rem;
    height: 10rem;
    /* object-fit: cover; */
    margin-bottom: 15px;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}

.service-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--text-color);
}

.service-description {
    font-size: 1rem;
    color: #555;
}


/* BrandName.css */

.our-partner {
    background-color: var(--bg-color);
    width: 100%;
    padding: 2rem 5%;
}

.our-partner h2 {
    font-size: 2rem;
    /* color: var(--bg-color); */
}

.read-more-link {
    color: var(--color-dark-orange);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;

}

@media (max-width: 1024px) {
    .home {
        grid-template-columns: 1fr;
        padding: 5rem 3%;
    }

    .home-section {
        padding: 10rem 0 5rem 25%;
    }

    .home-intro h2 {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .home-intro p {
        font-size: 1.1rem;
    }

    .benefit h2,
    .values h2,
    .choose-us h2 {
        font-size: 2.5rem;
    }

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }


    .choose-us {
        grid-template-columns: 1fr;
        padding: 2rem 3%;
    }

    .choose-us-section {
        grid-template-columns: 1fr;
        padding: 2rem 3%;
    }

    .choose-us-section1 img {
        width: 100%;
    }

    .choose-us .card-grid {
        grid-template-columns: 1fr;
    }

    .service-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .service .card {
        width: 100%;
    }

    .brand-name img {
        width: 7rem;
        height: 7rem;
    }
}

@media (max-width:768px) {
    .choose-us-section {
        grid-template-columns: 1fr;
        padding: 2rem 3%;
    }

    .choose-us .card {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .service-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .service-card {
        width: 100%;
    }

}