.contact h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.contact {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 3%;
}

.form {
  width: 50vw;
}

.contact form {

  min-width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1rem;
  color: var(--text-color);
  /* background: var(--bg-second); */
  border: 1px solid var(--border-color);
  border-radius: .8rem;
  margin: .7rem 0;

}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.alert {
  background-color: rgb(12, 239, 12);
  color: var(--bg-color);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.contact-details {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.contact-details i {
  padding: 1.5rem 0;
  font-size: 2rem;

}

/* .contact-info-sub {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
} */

.contact-details h3 {
  font-size: 1.6rem;
  padding: 0;
  font-weight: 600;
}

.contact-details p {
  font-size: 1.2rem;

}

.contact-details span {
  outline: 2px dotted rgb(255, 174, 0);
  width: 5rem;
  height: 5rem;
  text-align: center;
  border-radius: 50%;
}

.social h2 {
  text-align: left;
  font-size: 2rem;
}

@media (max-width: 768px) {

  .contact {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .form {
    width: 100%;
  }

  .contact form {
    flex: 1;
    max-width: 100%;
  }

  .contact .input-box {
    flex-direction: column;
    width: 100%;
  }

  .contact form .input-box input,
  .contact form textarea {
    padding: .5rem 2rem;
    width: 100%;
    border-radius: .3rem;
    border: 1px solid var(--border-color);
  }

  .contact-details {
    flex-wrap: nowrap;
    /* flex-wrap: wrap; */
    padding-bottom: 2rem;
  }

  .contact-details p {
    text-wrap: wrap;
    width: 100%;
  }

  .contact-info-sub {
    width: 80%;
  }
}